# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
_openmp_mutex
_py-xgboost-mutex
abseil-cpp
absl-py
afterimage
aiofiles
aiosqlite
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
arrow-cpp
arviz
asttokens
atk
atk-1.0
attrs
awkward
awkward-cpp
awkward0
aws-c-cal
aws-c-common
aws-c-event-stream
aws-c-io
aws-checksums
aws-sdk-cpp
babel
backcall
backports
backports.functools_lru_cache
beautifulsoup4
binutils
binutils_impl_linux-64
binutils_linux-64
black
blas
bleach
blessed
bokeh
boost-histogram
brotli
brotli-bin
brotlipy
bzip2
c-ares
c-compiler
ca-certificates
cachetools
cairo
certifi
cffi
cfitsio
cftime
charset-normalizer
click
cloudpickle
cmake
coffea
colorama
comm
compilers
contourpy
corner
correctionlib
cramjam
cryptography
curl
cxx-compiler
cycler
cytoolz
dask
dask-core
dask-jobqueue
davix
debugpy
decorator
defusedxml
distributed
entrypoints
executing
expat
fastparquet
ffflows
fftw
filelock
flake8
flit-core
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
fonttools
fortran-compiler
fqdn
freetype
freia
fribidi
fsspec
ftgl
future
gcc
gcc_impl_linux-64
gcc_linux-64
gdk-pixbuf
gettext
gflags
gfortran
gfortran_impl_linux-64
gfortran_linux-64
giflib
gl2ps
glew
glib
glog
gobject-introspection
google-auth
google-auth-oauthlib
gpustat
graphite2
graphviz
grpc-cpp
grpcio
gsl
gsoap_abi
gtk2
gts
gxx
gxx_impl_linux-64
gxx_linux-64
h5py
harfbuzz
hdf4
hdf5
heapdict
hep_ml
hist
histoprint
hydra-core
icu
idna
iminuit
importlib-metadata
importlib-resources
importlib_metadata
importlib_resources
ipykernel
ipyparallel
ipython
ipython_genutils
isoduration
jedi
jinja2
joblib
jpeg
json5
jsonpointer
jsonschema
jupyter_client
jupyter_core
jupyter_events
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyter_ydoc
jupyterlab
jupyterlab_pygments
jupyterlab_server
kernel-headers_linux-64
keyutils
kiwisolver
krb5
lcms2
ld_impl_linux-64
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcurl
libcxx
libcxxabi
libedit
libev
libevent
libffi
libgcc-devel_linux-64
libgcc-ng
libgfortran-ng
libgfortran5
libglib
libglu
libgomp
libiconv
liblapack
libllvm10
libnetcdf
libnghttp2
libopenblas
libpng
libprotobuf
librsvg
libsanitizer
libsodium
libsqlite
libssh2
libstdcxx-devel_linux-64
libstdcxx-ng
libthrift
libtiff
libtool
libutf8proc
libuuid
libwebp
libwebp-base
libxcb
libxgboost
libxml2
libzip
libzlib
lit
llvmlite
locket
lz4
lz4-c
markdown
markdown-it-py
markupsafe
matplotlib-base
matplotlib-inline
mccabe
mdurl
metakernel
mistune
mplhep
mplhep_data
mpmath
msgpack-python
munkres
mypy_extensions
nbclassic
nbclient
nbconvert
nbconvert-core
nbconvert-pandoc
nbformat
ncurses
nest-asyncio
netcdf4
networkx
nflows
notebook
notebook-shim
numba
numexpr
numpy
numpy-base
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-ml-py
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
olefile
omegaconf
openjpeg
openssl
orc
packaging
pandas
pandoc
pandocfilters
pango
parquet-cpp
parso
partd
pathspec
pcre
pexpect
pickleshare
pillow
pip
pixman
pkgutil-resolve-name
platformdirs
pooch
portalocker
prometheus_client
prompt-toolkit
prompt_toolkit
protobuf
psutil
pthread-stubs
ptyprocess
pure_eval
py-xgboost
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pyflakes
pygments
pyopenssl
pyparsing
pyrsistent
pysocks
pythia8
python
python-dateutil
python-fastjsonschema
python-graphviz
python-json-logger
python-xxhash
python_abi
pytz
pyyaml
pyzmq
re2
readline
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
root
root-binaries
root-dependencies
root_base
rsa
s2n
scikit-learn
scipy
scitokens-cpp
send2trash
setuptools
six
snappy
sniffio
sortedcontainers
soupsieve
sqlite
stack_data
sympy
sysroot_linux-64
tables
tbb
tbb-devel
tblib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardx
terminado
threadpoolctl
tinycss2
tk
toml
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
triton
typing-extensions
typing_extensions
uhi
umnn
unicodedata2
uproot
uproot-base
uproot3
uproot3-methods
uri-template
urllib3
vdt
wcwidth
webcolors
webencodings
websocket-client
werkzeug
wheel
xarray
xgboost
xorg-fixesproto
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxcursor
xorg-libxdmcp
xorg-libxext
xorg-libxfixes
xorg-libxft
xorg-libxpm
xorg-libxrender
xorg-libxt
xorg-renderproto
xorg-xextproto
xorg-xproto
xrootd
xxhash
xz
y-py
yaml
ypy-websocket
zeromq
zict
zipp
zlib
zstandard
zstd
zuko
